/* Sort button modifiers
 *
 * Lifted from https://github.com/ukgov-equality-hub/ethnicity-facts-and-figures/blob/303c837a676e17653864cf6f2734b67bc8b0bc30/application/src/sass/components/_sort_buttons.scss#L9
 *
 * These are used for indicating that a button can be used to re-order
 * a table by a particular column, in either ascending or descending order.
 *
 * The modifier classes should be added alongside the base component class
 * from the GOV.UK Design System of `govuk-button`
 *
 * When un-sorted (`gfa-link--sort`), the button includes both up and down
 * arrows on the right, as an affordance to indicate what the button does.
 *
 * When sorted in a particular direction (`gfa-link--sort-ascending` or `gfa-link--sort-descending`(, a single (larger) up or down arrow is shown.
 *
 * This modifier can also be used alongside the `gfa-link-link` modifier, in
 * order to style the button to look more like a link than a button.
 */
.gfa-link--sort,
.gfa-link--sort-ascending,
.gfa-link--sort-descending {
  position: relative;
  padding: 0 10px 0 0;
}

.gfa-link--sort:before,
.gfa-link--sort:active:before {
  content: " \25bc"; /* ▼ */
  position: absolute;
  right: -2px;
  top: 9px;
  font-size: 0.5em;
  text-align: right;
}

.gfa-link--sort:after,
.gfa-link--sort:active:after {
  content: " \25b2"; /* ▲ */
  position: absolute;
  right: -2px;
  top: 0px;
  font-size: 0.5em;
  text-align: right;
}

.gfa-link--sort-ascending:before,
.gfa-link--sort-descending:before {
  content: none;
}

.gfa-link--sort-ascending:after {
  content: " \25b2"; /* ▲ */
  font-size: .7em;
  position: absolute;
  right: -2px;
  top: 2px;
}

.gfa-link--sort-descending:after {
  content: " \25bc"; /* ▼ */
  font-size: .7em;
  position: absolute;
  right: -2px;
  top: 2px;
}
