{% extends 'govuk_frontend_jinja/template.html' %}
{% from 'govuk_frontend_jinja/components/service-navigation/macro.html' import govukServiceNavigation %}
{% import 'admin/layout.html' as layout with context %}

{% set containerClasses = 'gfa-width-container--wide' %}
{% set mainClasses = 'govuk-!-padding-top-0' %}
{% set assetPath = url_for('govuk_flask_admin.static', filename='assets').rstrip('/') %}

{% block head %}
{{ govuk_flask_admin_assets_tags() | safe }}
{% endblock head %}

{% block header %}
  {{ govukHeader({"serviceName": "Flask Admin", "classes": "govuk-header--full-width-border"}) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
    {% block beforeContent %}{% endblock %}
    <div class="govuk-grid-row gfa-grid-row--sidebar">
      <div class="govuk-grid-column-one-quarter gfa-grid-column--sidebar">
        {% block main_menu %}
          <div class="gfa-sidebar">
            <div class="gfa-sidebar__container govuk-!-padding-top-5 govuk-!-padding-left-5">
              <ul class="govuk-list">
                {{ layout.menu() }}
              </ul>
            </div>
          </div>
        {% endblock %}
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-padding-top-5">
        <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block action_panel %}
          Do the hard stuff
          {% endblock %}
        </main>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {% if admin_view.extra_js %}
      {% for js_url in admin_view.extra_js %}
          <script {{ admin_csp_nonce_attribute }} src="{{ js_url }}" type="text/javascript"></script>
      {% endfor %}
  {% endif %}
{% endblock bodyEnd %}
