{% extends 'govuk_frontend_jinja/template.html' %}
{% from 'govuk_frontend_jinja/components/service-navigation/macro.html' import govukServiceNavigation %}

{% set containerClasses = 'app-width-container--wide' %}
{% set assetPath = url_for('govuk_flask_admin.static', filename='assets').rstrip('/') %}

{% block head %}
{{ govuk_flask_admin_assets_tags() | safe }}
{% endblock head %}

{% block header %}
  {{ govukHeader({"serviceName": "Flask Admin", "classes": "govuk-header--full-width-border"}) }}
{% endblock %}

{% block bodyEnd %}
  {% if admin_view.extra_js %}
      {% for js_url in admin_view.extra_js %}
          <script {{ admin_csp_nonce_attribute }} src="{{ js_url }}" type="text/javascript"></script>
      {% endfor %}
  {% endif %}
{% endblock bodyEnd %}
