{% extends 'govuk_frontend_jinja/template.html' %}
{% from 'govuk_frontend_jinja/components/service-navigation/macro.html' import govukServiceNavigation %}
{% import 'admin/layout.html' as layout with context %}

{% set containerClasses = '' %}
{% set mainClasses = 'govuk-!-padding-top-0' %}
{% set assetPath = url_for('govuk_flask_admin.static', filename='assets').rstrip('/') %}
{% set govukRebrand = true %}

{% block head %}
{{ govuk_flask_admin_include_css() | safe }}
{% endblock head %}

{% block header %}
  {{ govukHeader({"serviceName": govuk_flask_admin_service_name, "classes": "govuk-header--full-width-border"}) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter govuk-!-padding-top-5">
        {% block main_menu %}
          {{ layout.menu() }}
        {% endblock %}
      </div>

      <div class="govuk-grid-column-three-quarters govuk-!-padding-top-5">
        {% block beforeContent %}{% endblock %}

        <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
          {% block action_panel %}
          Do the hard stuff
          {% endblock %}
        </main>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ govuk_flask_admin_include_js() | safe }}
  {% if admin_view.extra_js %}
      {% for js_url in admin_view.extra_js %}
          <script {{ admin_csp_nonce_attribute }} src="{{ js_url }}" type="text/javascript"></script>
      {% endfor %}
  {% endif %}
{% endblock bodyEnd %}
