{% macro menu(menu_root=None) %}
  {% set is_main_nav = menu_root == None %}
  {% if menu_root is none %}{% set menu_root = admin_view.admin.menu() %}{% endif %}

  <div class="gfa-sidebar">
    <div class="gfa-sidebar__container govuk-!-padding-top-5 govuk-!-padding-left-5">
      <nav class="gfa-sidebar__nav">
        <ul class="govuk-list">
        {%- for item in menu_root %}
          {%- if item.is_category() -%}
            {% set children = item.get_children() %}
            {%- if children %}
              <h2 class="gfa-sidebar__theme">{{ item.name }}</h2>
              <ul class="gfa-sidebar__section">
              {%- for child in children -%}
                {%- if child.is_category() -%}
                  {# THIS IS PROBABLY NOT SUPPORTED PROPERLY #}
                  {{ menu(menu_root=[child]) }}

                {% else %}
                  <li class="gfa-sidebar__section-item{% if child.is_active(admin_view) %} gfa-sidebar__section-item--current{% endif %}">
                    <a
                      class="gfa-sidebar__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
                      href="{{ child.get_url() }}"
                      {% if child.target %}target="{{ child.target }}"{% endif %}
                    >
                      {{ child.name }}
                    </a>
                  </li>
                {%- endif %}
              {%- endfor %}
              </ul>
            </li>
            {% endif %}
          {%- else %}
            {%- if item.is_accessible() and item.is_visible() -%}
              {% set class_name = item.get_class_name() %}
              <li class="gfa-sidebar__section-item{% if item.is_active(admin_view) %} gfa-sidebar__section-item--current{% endif %}">
                <a
                  class="gfa-sidebar__link govuk-link govuk-link--no-visited-state govuk-link--no-underline"
                  href="{{ item.get_url() }}"
                  {% if item.target %} target="{{ item.target }}"{% endif %}
                >
                  {{ item.name }}
                </a>
            </li>
            {%- endif -%}
          {% endif -%}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
{% endmacro %}

{% macro menu_links(links=None) %}
  {% if links is none %}{% set links = admin_view.admin.menu_links() %}{% endif %}
  {% for item in links %}
    {% set class_name = item.get_class_name() %}
    {% if item.is_accessible() and item.is_visible() %}
      <li{% if class_name %} class="{{ class_name }}"{% endif %}>
        <a class="govuk-link govuk-link--no-visited-state" href="{{ item.get_url() }}"{% if item.target %} target="{{ item.target }}"{% endif %}>
          {{ item.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
          {# alert-error changed to alert-danger in bootstrap 3, mapping is for backwards compatibility #}
          {% set mapping = {'message': 'info', 'error': 'danger'} %}
          <div class="alert alert-{{ mapping.get(category, category) }} alert-dismissable">
        {% else %}
          <div class="alert alert-dismissable">
        {% endif %}
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ m }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
