.gfa-grid-row--sidebar
  display: flex

.gfa-grid-column--sidebar
  flex: 1 1 auto

.gfa-sidebar
  $gfa-sidebar-active-link-border-width: govuk-spacing(1)
  $gfa-sidebar-background: $govuk-canvas-background-colour
  $gfa-sidebar-border-colour: $govuk-border-colour

  display: flex
  justify-content: end
  text-align: end

  height: 100%

  background-image: linear-gradient(to left, $gfa-sidebar-background, white)

  .gfa-sidebar__container
    height: calc(100% - 25px)
    width: 100%
    border-right: 1px solid $gfa-sidebar-border-colour


  .gfa-sidebar__nav
    // Since the back to top link is outside the flow of the document we need to create a space for it.
    // This number is magic and was determined by manually judging the visual spacing.
    margin-bottom: 100px
    padding: govuk-spacing(6) govuk-spacing(3) 0 0

  .gfa-sidebar__section
    margin: 0 0 govuk-spacing(4)
    padding: 0
    list-style-type: none

  .app-subnav__link
    padding: 2px 0

  .gfa-sidebar__section-item
    margin-bottom: govuk-spacing(1)
    padding-top: govuk-spacing(1)
    padding-bottom: govuk-spacing(1)

  .gfa-sidebar__section-item--current
    $_current-indicator-width: 4px
    margin-right: -(govuk-spacing(2) + $_current-indicator-width)
    padding-right: govuk-spacing(2)
    border-right: $_current-indicator-width solid govuk-colour("blue")

    .gfa-sidebar__link
      font-weight: bold

  .gfa-sidebar__section--nested
    margin-top: govuk-spacing(2)
    margin-bottom: 0
    padding-right: govuk-spacing(4)

    .gfa-sidebar__section-item
      &::before
        content: "—"
        margin-right: -(govuk-spacing(4))
        color: govuk-colour("dark-grey")

    .gfa-sidebar__link
      padding-right: 0
      font-weight: normal

  .gfa-sidebar__theme
    @include govuk-font-size($size: 19)
    margin: 0
    padding: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(3)
    color: black
