// ideally we wouldn't use a relative import here
// didn't want to fight the config at the time
$govuk-new-organisation-colours: true;
$govuk-assets-path: "assets/";
$govuk-brand-colour: #00625e;

@import "../../node_modules/govuk-frontend/dist/govuk";
@import "../../node_modules/accessible-autocomplete";

@import 'components/wide-container';
@import 'components/sidebar';
@import 'components/sort-buttons';

.govuk-button {
  color: orange !important
}
