// ideally we wouldn't use a relative import here
// didn't want to fight the config at the time
$govuk-new-organisation-colours: true;
$govuk-assets-path: "assets/";
$govuk-brand-colour: #00625e;
$govuk-page-width: 1920px;

@import "../../node_modules/govuk-frontend/dist/govuk";
@import "../../node_modules/@ministryofjustice/frontend/moj/moj-frontend.min.css";
@import "../../node_modules/accessible-autocomplete";

@import 'components/sort-buttons';
@import 'components/filters';

// Fix button alignment in MOJ action bar
// MOJ Frontend sets vertical-align: initial but GOV.UK's .govuk-button sets vertical-align: top
// Since we're importing pre-compiled MOJ CSS, it comes before GOV.UK in the cascade
// This override ensures buttons in the action bar align properly
// FIXME: feels like this should be fixable by doing something better/more correctly with sass
.moj-action-bar .govuk-button {
  vertical-align: initial;
}

// Fix dropdown positioning in button menu
// GOV.UK button has margin-bottom: 32px which increases the container height
// The wrapper is positioned absolute within the container, so it appears too far down
// Remove the margin from the toggle button to close the gap
// FIXME: probably fixed at the same time as the thing above ^^
.moj-button-menu__toggle-button {
  margin-bottom: 0;
}

.gfa-table__cell--compact {
  padding-top: 3px;
  padding-bottom: 3px;
}

.gfa-table__header--checkbox {
  @include govuk-responsive-padding($direction: "top", $responsive-spacing-point: 0);
  width: 50px;
}

.gfa-table__header--hint {
  @include govuk-font-size($size: 16);
  @include govuk-typography-weight-regular();
  @include govuk-responsive-margin($direction: "top", $responsive-spacing-point: 1);
  @include govuk-responsive-margin($direction: "bottom", $responsive-spacing-point: 0);
  color: $govuk-secondary-text-colour;

  display: block;
}

.gfa-pagination-wrapper {
  display: flex;
  justify-content: center;
}
